<html>
<head>
    <title>PASMO Belize | Outlet Mapping</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="/stylesheets/style.css" rel="stylesheet" />

</head>
<body>
    <main class="rp-docs-masthead" role="main">
        <div class="container">
            <p class="lead">
                <h1>PASMO | PSI</h1>
            </p>

        </div>

    </main>
    <div class="container app-buttons">
        <a href="http://highriskmappings.pasmo.bz" class="btn btn-outline-inverse btn-lg">
            <span style="font-size: 4em;">Outlets Database</span>
        </a>
        <a href="http://outletmappings.pasmo.bz" class="btn btn-outline-inverse btn-lg">
           <span style="font-size: 4em; padding-right: 1em;">Outlets Maps</span>
        </a>
    </div>


</body>
</html>
